[submodule "docker-transmission"]
	path = docker-transmission
	url = https://github.com/stilllman/docker-transmission
[submodule "docker-nextcloud"]
	path = docker-nextcloud
	url = https://github.com/stilllman/docker-nextcloud
[submodule "docker-image-logitech-media-server"]
	path = docker-image-logitech-media-server
	url = https://github.com/stilllman/docker-image-logitech-media-server.git
[submodule "docker-snapserver"]
	path = docker-snapserver
	url = ../docker-snapserver
[submodule "docker-snapclient"]
	path = docker-snapclient
	url = ../docker-snapclient
