[submodule "docker-transmission"]
	path = docker-transmission
	url = https://github.com/stilllman/docker-transmission
[submodule "docker-sickrage"]
	path = docker-sickrage
	url = https://github.com/stilllman/docker-sickrage-1
[submodule "docker-plex"]
	path = docker-plex
	url = https://github.com/stilllman/docker-plex-1
[submodule "docker-nextcloud"]
	path = docker-nextcloud
	url = https://github.com/stilllman/docker-nextcloud
[submodule "docker-image-logitech-media-server"]
	path = docker-image-logitech-media-server
	url = https://github.com/stilllman/docker-image-logitech-media-server.git
